{% extends "layout.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <br><h2><center>bandit</center></h2></br>

      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <br class="form-group">
        <label for="comment">Enter your code here:</label>
        <!--<input type="text" value="8" name="mytextbox" size="1"/>
        <input type="submit" class="btn" value="Click" name="mybtn">-->
        <textarea class="form-control" rows="30" id="comment" name="mytextbox"></textarea>
        <a class="btn btn-primary btn-lg" href="/testing/TESTING" role="button" value="Click" name="mybtn">Run code &raquo;</a>
      </div>
    </div>
{% endblock %}