{% extends "layout.html" %}

{% block content %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <br><h2><center>bandit</center></h2></br>

      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
      <br class="form-group">
        <label for="comment">Enter your code here:</label>
        <textarea class="form-control" rows="30" id="comment"></textarea>
        <br><p><a class="btn btn-primary btn-lg" href="#" role="button">Run code &raquo;</a></p></br>
      </div>
    </div>
{% endblock %}